.container {
  padding-top: 70px;
  clear: left;
}
.page-top-cmds {
  padding: 15px 0;
}
.has-error {
  color: red;
}
.card {
  border: none;
  border-bottom: 1px solid #ccc;
}
.jumbotron {
  background: rgb(9, 69, 148);
}
a,
a:hover {
  color: #333;
  text-decoration: none;
}
.ctgryBtn {
  margin: 2px;
  border: "1px solid #111";
  background: #eee;
  padding: 2px 4px;
}
.ctryFont {
  font-size: 18px;
  font-weight: bold;
}
.ctryBtns {
  float: right;
}
@media (max-width: 500px) {
  .ctryBtns {
    float: none;
    clear: left;
  }
}
